<!doctype html>
<html>
  <head>
    <title>sk2sl</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='iframer.css')}}">
    <script>
    {% if create %}
    function fillForm()
    {
      var iframe = document.getElementById("setlist_if");
      var elmnt = iframe.contentWindow.document.getElementById("");
      elmnt.style.display = "none";
    }
    {% endif%}
    </script>
  </head>
<body>
  <div id="songkick" class="content">
    <iframe align="left" srcdoc="
      {% for item in sk_data.details %}
      {{item}}<br/>
      {% endfor %}
      <ul>
      {% for artist, setlists in sk_data.setlists.items() %}
      <li>{{artist}}</li>
        <ul>
        {% for sl in setlists %}
        <li><a href='{{ sl.sl_url }}' target='setlist_if'>{{ sl.sl_name }}</a></li>
        {% endfor %}
        </ul>
      {% endfor %}
      </ul>
     ">
    </iframe> 
    <div class="buttons">
      {%if n > 0 %}
      <a href="/gig/{{n-1}}">prev</a>
      {% else %}
      prev
      {% endif %}
      |
      {%if n < max_n %}
      <a href="/gig/{{n+1}}">next</a>
      {% else %}
      next
      {% endif %}
    </div>
  </div>
  <div id="setlist" class="content">
    <iframe align="left" src="{{sl_url}}" name="setlist_if" id="setlist_if"></iframe>
    {#
    <!--
    <div class="buttons">
      {%if m > 0 %}
      <a href="/gig/{{n}}/{{m-1}}">prev</a>
      {% else %}
      prev
      {% endif %}
      |
      {%if m < max_m %}
      <a href="/gig/{{n}}/{{m+1}}">next</a>
      {% else %}
      next
      {% endif %}
    </div>
    -->
    #}
  </div>
</body>
</html>
